<div style="display: flex; justify-content: center; align-items: center;">
  <div style="
      padding: 1rem 1rem;
      border-radius: 16px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      text-align: center;
      font-family: 'Segoe UI', sans-serif;
      width: 100%;
      border: #caac00 2px dashed;
  ">
    <p style="margin: 0; font-family: Courier, monospace;">TOTAL VOTE FROM</p>
    <h2 style="margin:0; 
      font-weight: bolder; 
      color: #d9ff00; 
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">{}</h2>
    <ul style="list-style: none; padding: 0; margin: 0;">
      <li style="margin: 0; font-size: 3rem; font-weight: bold; color: #ffffff; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">{}</li>
    </ul>
  </div>